/*Style page*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font & body overall */
body {
  margin: 0;
  font-family: "Montserrat", sans-serif ; 
  background-color: black;
  color: white;
  font-weight: 300;
}

a {
  text-decoration: none;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: stretch; 
  height: 70px; 
  background-color: grey;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

/*Logo*/
.logo{
  display: flex;
  height: 50px;
  position: relative;
  top: 10px;
  left: 30px;
}

.logoname {
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 25px;
  font-size: 28px;
  font-weight: 700;
  right: 80px;
}

.logoname span {
  color: #FFD700;
}

/* Menu */
nav {
  flex: 1;
}

.menu {
  display: flex;
  margin: 0;
  height: 100%;
}

.menu li {
  position: relative;
  list-style: none;
  flex: none;
  display: inline-block;
}

.menu li a {
  display: block;
  padding: 0 20px;
  height: 70px;
  line-height: 70px;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  transition: 0.3s;
}

.menu li a:hover {
  background-color: rgba(255,215,0,0.2);
  color: #FFD700;
}

/* Menu drop-down */
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  width: max-content;
  background-color: black;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 15px rgba(255,215,0,0.2);
  z-index: 50;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li a {
  display: block;
  padding: 12px 20px;
  text-align: center;
  white-space: nowrap;
  transition: 0.3s;
}

.dropdown-menu li a:hover {
  background-color: rgba(255,215,0,0.2);
  color: #FFD700;
}

.menu li.dropdown:nth-last-child(-n+2) .dropdown-menu {
  right: 0;
  left: auto;
}

/* Responsive Media */
@media (max-width: 900px) {
  .navbar {
    flex-direction: column;
    height: auto;
  }

  .menu {
    flex-direction: column;
    width: 100%;
  }

  .menu li a {
    text-align: left;
    padding-left: 25px;
  }

  .dropdown-menu {
    position: static;
    width: 100%;
  }

  .dropdown-menu li a {
    text-align: left;
    padding-left: 35px;
  }
}

/*Header- Group Cycling*/
.GroupCyclingHeader {
  height: 780px;
  background: url("../photos/cycling4.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 60px;
  font-weight: 100;
  font-style: italic;
}

.GroupCyclingHeader-content {
  max-width: 1100px;
}

.GroupCyclingHeader h1 {
  font-size: 48px;
  margin-bottom: 20px;
  border-left: 5px solid #f5c400;
  padding-left: 20px;
  font-weight: 400;
}

.GroupCyclingHeader p {
  font-size: 17px;
}

/* About Group Cycling */
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  padding: 80px 60px;
}

.about h2 {
  font-size: 32px;
  margin-bottom: 20px;
  position: relative;
}

.about h2::after {
  content: "";
  width: 60px;
  height: 3px;
  background: #f5c400;
  position: absolute;
  left: 0;
  bottom: -10px;
}

.about img {
  width: 45%;
  border-radius: 6px;
  position: relative;
  left: 170px;
}

/*Benefits*/
.benefits {
  display: grid;
  background-color: #1f1f1f;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  padding: 80px 60px;
  grid-template-areas: 
    "image text";
}

.benefits .text {
  grid-area: text;
}

.benefits .image1 {
  grid-area: image;
}

.benefits h2 {
  font-size: 32px;
  margin-bottom: 20px;
  position: relative;
}

.benefits h2::after {
  content: "";
  width: 60px;
  height: 3px;
  background: #f5c400;
  position: absolute;
  left: 0;
  bottom: -10px;
}

.benefits img {
  width: 45%;
  border-radius: 6px;
  position: relative;
  left: 150px;
}

/* Features */
.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 60px;
  background: #111;
}

.feature h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #f5c400;
}

/* Cta Group Cycling */
.cta {
  padding: 80px 60px;
  text-align: center;
}

.cta h2 {
  font-size: 36px;
  margin-bottom: 15px;
}

.cta p {
  max-width: 600px;
  margin: auto;
}

/* Schedule */

.cyclingScheduleHeader {
  height: 770px;
  background: url("../photos/cycling1.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cyclingScheduleHeader-content {
  max-width: 700px;
}

.cyclingScheduleHeader-content h1 {
  font-size: 80px;
  font-weight: 900;
  letter-spacing: 5px;
  color: #ffd000;
  margin-bottom: 10px;
}

.cyclingScheduleHeader-content h2 {
  font-size: 18px;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.cyclingScheduleHeader-content p {
  color: #ccc;
  font-size: 15px;
  margin-bottom: 35px;
}

.schedule {
  padding: 80px 60px;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
}

.schedule h2 {
  font-size: 36px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}

.schedule h2::after {
  content: "";
  width: 60px;
  height: 3px;
  background: #f5c400;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}

.schedule p {
  font-size: 17px;
  margin-bottom: 40px;
}

.table-container {
  overflow-x: auto;
}

.schedule table {
  width: 100%;
  border-collapse: collapse;
  min-width: 700px;
}

.schedule th,
.schedule td {
  padding: 15px 20px;
  border-bottom: 1px solid #333;
  text-align: center;
}

.schedule th {
  background-color: #111;
  color: #FFD700;
  font-weight: 600;
}

.schedule tr:nth-child(even) {
  background-color: #222;
}

.schedule tr:hover {
  background-color: rgba(255,215,0,0.1);
}

.schedule td {
  color: #fff;
  font-weight: 500;
}

/* Responsive 2 */
@media (max-width: 900px) {
  .schedule table {
    min-width: 100%;
  }

  .about {
    grid-template-columns: 1fr;
  }

  .features {
    grid-template-columns: 1fr;
  }
}

/*T-Rex*/
.trex {
  height: 780px;
  background: url("../photos/trex1.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.trex-content {
  max-width: 700px;
}

.trex-content h1 {
  font-size: 80px;
  font-weight: 900;
  letter-spacing: 5px;
  color: #ffd000;
  margin-bottom: 10px;
}

.trex-content h2 {
  font-size: 18px;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.trex-content p {
  color: #ccc;
  font-size: 15px;
  margin-bottom: 35px;
}

/* Intro TREX */
.trex-intro {
  display: grid;
  grid-template-columns: 1.1fr 0.9fr;
  gap: 80px;
  padding: 120px;
  align-items: center;
}

.trex-intro h2 {
  font-size: 34px;
  margin-bottom: 22px;
}

.trex-intro p {
  color: #ccc;
  margin-bottom: 18px;
  max-width: 520px;
}

.trex-intro-right img {
  border-radius: 20px;
  box-shadow: 0 25px 60px black;
}

/* Stats TREX */
.trex-stats {
  background: rgba(33, 33, 33);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 90px 100px;
  text-align: center;
}

.trex-stat h3 {
  font-size: 42px;
  color: #ffd000;
  font-weight: 900;
  margin-bottom: 8px;
}

.trex-stat p {
  font-size: 13px;
  letter-spacing: 2px;
  color: #aaa;
  text-transform: uppercase;
}

/* Flow */
.trex-flow {
  padding: 120px;
}

.trex-flow h2 {
  text-align: center;
  font-size: 38px;
  margin-bottom: 70px;
}

.trex-flow-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.trex-flow-card {
  background: #0f0f0f;
  padding: 38px 30px;
  border-radius: 20px;
  position: relative;
  transition: 0.25s ease;
}

.trex-flow-card span {
  position: absolute;
  top: 18px;
  right: 22px;
  font-size: 60px;
  font-weight: 900;
  color: rgba(255, 208, 0, 0.15);
}

.trex-flow-card h3 {
  font-size: 17px;
  margin-bottom: 14px;
  letter-spacing: 1px;
}

.trex-flow-card p {
  font-size: 14px;
  color: #bbb;
  line-height: 1.7;
}

.trex-flow-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 25px 50px black;
}

/*TREX schedule*/
.trexSchedule {
  height: 780px;
  background: url("../photos/trex4.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 0 60px;
}

.trexSchedule-content h1 {
  font-size: 80px;
  font-weight: 900;
  letter-spacing: 5px;
  color: #ffd000;
  margin-bottom: 10px;
}

.trexSchedule-content h2 {
  font-size: 18px;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.trexSchedule-content p {
  color: #ccc;
  font-weight: 500;
  padding: 40;
  font-size: 30px;
  margin-bottom: 35px;
}


/* Gear */
.trex-gear {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  gap: 90px;
  padding: 120px;
  align-items: center;
  background: #050505;
}

.trex-gear-text h2 {
  font-size: 34px;
  margin-bottom: 22px;
}

.trex-gear-text p {
  color: #ccc;
  margin-bottom: 18px;
  max-width: 520px;
}

.trex-gear-image img {
  border-radius: 22px;
  box-shadow: 0 30px 70px black;
}

/* Cta for TREX*/
.trex-cta {
  padding: 130px 20px;
  text-align: center;
  background: #000;
}

.trex-cta h2 {
  font-size: 40px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.trex-cta p {
  color: #bbb;
  max-width: 560px;
  margin: 0 auto;
}

/* Responsive 3 */
@media (max-width: 1000px) {
  .trex-intro,
  .trex-gear {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .trex-intro p,
  .trex-gear-text p {
    margin-left: auto;
    margin-right: auto;
  }

  .trex-flow-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .trex-flow-grid {
    grid-template-columns: 1fr;
  }

  .trex-stats {
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
  }

  .trex-hero-content h1 {
    font-size: 56px;
  }
}

/* Rules & Policies*/

.rulesPoliciesHeader {
  height: 780px;
  background: url("../photos/rulesPoliciesPage.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.rulesPoliciesHeader h1 {
  color: #FFD700;
}

.rulesPoliciesHeader-content{
  text-align: center;
  max-width: 600px;
}

.rulesPoliciesHeader h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.rulesPoliciesHeader p {
  font-size: 17px;
}

.rules {
  padding: 80px 60px;
  background-color: #1f1f1f;
  color: white;
}

.rules-container {
  max-width: 900px;
  margin: 0 auto;
}

.rules h2 {
  font-size: 36px;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
}

.rules h2::after {
  content: "";
  width: 60px;
  height: 3px;
  background: #f5c400;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
}

/* Accordion */
.accordion {
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  background: #111;
  box-shadow: 0 5px 15px black;
}

.accordion-header {
  width: 100%;
  text-align: left;
  padding: 18px 25px;
  font-size: 18px;
  font-weight: 600;
  color: #FFD700;
  border: none;
  background: #111;
  cursor: pointer;
  transition: 0.3s;
}

.accordion-header:hover {
  background: rgba(255,215,0,0.1);
}

.accordion-header.active {
  background: rgba(255,215,0,0.2);
}

.accordion-body {
  display: none;
  padding: 15px 25px;
  background: #1f1f1f;
  color: #ccc;
  font-size: 15px;
  line-height: 1.6;
}

.accordion-body p {
  margin: 0;
}

/* Responsive */
@media (max-width: 900px) {
  .rules {
    padding: 60px 30px;
  }

  .accordion-header {
    font-size: 16px;
    padding: 14px 20px;
  }

  .accordion-body {
    font-size: 14px;
    padding: 12px 20px;
  }
}

/* Q&A Grid */
.qa {
  height: 400px;
  background: url("../photos/qaPicture.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 60px;
}

.qa-content h1 {
  font-size: 60px;
  color: #FFD700;
  margin-bottom: 15px;
}

.qa-content p {
  font-size: 18px;
  color: #ccc;
}

.qa-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  padding: 80px 60px;
}

.qa-card {
  position: relative;
  background-color: #111;
  border-radius: 20px;
  padding: 30px 25px 30px 60px;
  text-align: left;
  transition: 0.3s;
  box-shadow: 0 15px 40px black;
}

.qa-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 25px 50px rgba(255,215,0,0.2);
}

/* Number Circle */
.qa-number {
  width: 50px;
  height: 50px;
  background-color: #FFD700;
  color: black;
  font-weight: 700;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px auto;
  position: absolute;
  top: -25px; /* sits above the card */
  left: 50%;
  transform: translateX(-50%);
}



.qa-card:last-child::before {
  display: none;
}
*/

.qa-card h3 {
  font-size: 20px;
  margin-bottom: 12px;
  color: #FFD700;
}

.qa-card p {
  font-size: 15px;
  color: #ccc;
  line-height: 1.6;
}

/* Q&A Style*/
.qa-section {
  padding: 100px 60px;
  background-color: #111;
  color: white;
}

.qa-section h1 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 50px;
  color: #FFD700;
  position: relative;
}

.qa-section h1::after {
  content: "";
  width: 80px;
  height: 3px;
  background: #FFD700;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
}

/* Grid layout for Q&A cards*/
.qa-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

/* Each card */
.qa-card {
  background-color: #1f1f1f;
  padding: 60px 30px 30px 30px; 
  border-radius: 15px;
  position: relative;
  transition: 0.3s ease;
  text-align: center;
}

.qa-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(255, 215, 0, 0.2);
}

/* Question */
.qa-card h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #FFD700;
}

/* Answer */
.qa-card p {
  font-size: 16px;
  line-height: 1.6;
  color: #ccc;
}

/* Responsive 4 */
@media (max-width: 1000px) {
  .qa-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .qa-grid {
    grid-template-columns: 1fr;
  }
}

/* Contact Page */
.contact {
  height: 400px;
  background: url("../photos/contactPage.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contact-content h1 {
  font-size: 64px;
  font-weight: 800;
  letter-spacing: 4px;
  color: #FFD700;
  margin-bottom: 12px;
}

.contact-content p {
  font-size: 18px;
  color: #ccc;
}

/* MAIN GRID */
.contact-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  padding: 120px;
  background: #0b0b0b;
}

/* LEFT INFO */
.contact-info h2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  left: 336px;
}

.contact-info p {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ccc;
  max-width: 520px;
  margin-bottom: 50px;
  line-height: 1.7;
  left: 350px;
}

/*Contact Box*/

.contact-form-box {
  position: relative;
  background: #111;
  border-radius: 25px;
  padding: 60px 50px;
  box-shadow: 0 30px 80px black;

}

.contact-form-box h2 {
  font-size: 32px;
  margin-bottom: 12px;
  text-align: center;
}

.contact-form-box p {
  color: #aaa;
  margin-bottom: 35px;
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  background: black;
  border: none;
  border-radius: 12px;
  padding: 14px 16px;
  margin-bottom: 18px;
  color: white;
  font-size: 14px;
  outline: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #777;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.contact-form textarea {
  resize: none;
}

.contact-form button {
  margin-top: 15px;
  padding: 14px 38px;
  border-radius: 30px;
  border: none;
  background: #FFD700;
  color: #000;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.25s ease;
}

.contact-form button:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 30px rgba(255,215,0,0.4);
}

/* Popup overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: none; 
  align-items: center;
  justify-content: center;
  z-index: 200;
}

/* Popup box */
.popup-box {
  background: #111;
  padding: 40px 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 25px 60px rgba(255,215,0,0.3);
}

.popup-box p {
  font-size: 18px;
  color: #FFD700;
  margin-bottom: 20px;
}

.popup-box button {
  padding: 12px 28px;
  background: #FFD700;
  color: #000;
  font-weight: 700;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.25s ease;
}

.popup-box button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(255,215,0,0.4);
}

/* About Persea Malaveci */
.about-persea {
  height: 500px;
  background:black;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
}

.about-persea-content h1 {
  font-size: 60px;
  color: #FFD700;
  margin-bottom: 15px;
}

.about-persea-content p {
  font-size: 18px;
  color: #ccc;
}

/* Profile */
.about-profile {
  padding: 100px 60px;
  align-items: center;
  background-color: #111;
  justify-content: center;
  text-align: center;
}

.about-text h2 {
  font-size: 36px;
  color: #FFD700;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 12px;
}


/* Sections */
.about-section {
  padding: 90px 60px;
  background-color: black;
}

.about-section.dark {
  background-color: #111;/
}

.about-section h2 {
  font-size: 42px;
  color: #FFD700;
  margin-bottom: 50px;
  text-align: center;
}

/* Cards */
.about-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.about-card {
  background: #1a1a1a;
  border-radius: 20px;
  padding: 35px 30px;
  text-align: center;
  transition: 0.3s ease;
  box-shadow: 0 15px 40px black;
}

.about-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 25px 60px rgba(255,215,0,0.2);
}

.about-card h3 {
  color: #FFD700;
  font-size: 22px;
  margin-bottom: 12px;
}

.about-card p {
  color: #ccc;
  font-size: 15px;
  line-height: 1.6;
}

/* Traits */
.about-traits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
}

.about-traits span {
  padding: 12px 22px;
  border-radius: 30px;
  background: #FFD700;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  box-shadow: 0 10px 25px rgba(255,215,0,0.3);
}

/* Responsive */
@media (max-width: 1000px) {
  .about-profile {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .about-cards {
    grid-template-columns: 1fr;
  }

  .about-persea-content h1 {
    font-size: 42px;
  }
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    clear: both;
}

footer .footer-links {
    margin-bottom: 10px;
}

footer .footer-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

footer p {
    font-size: 14px;
}
